<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registrar Cita</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
        <img src="https://i.pinimg.com/originals/80/82/a0/8082a065cf4581f483151de29cb61cd5.jpg" height="200" width="200" >
        <img src="C:\Users\brend\OneDrive\Escritorio\ProyectosBrenda\Consultorio_DentAlma\cute-tooth-fairy.jpg" height="200px" width="200px" >
        <h1>Registro de Cita</h1>
        <form th:action="@{citas/crear}" th:object="${cita}" method="post">
            <label>Paciente</label>
            <select th:field="*{paciente}">
                <opcion th:each="paciente : ${pacientes}" th:value="${paciente.id}" th:text="paciente.nombre"></opcion>
            </select>
            <br>
            <label>Tratamiento</label>
            <select th:field="*{tratamiento}">
                <opcion th:each="tratamiento : ${tratamientos}" th:value="${tratamiento.id}" th:text="tratamiento.nombre"></opcion>
            </select>
            <br>
            <label>Fecha y Hora:</label>
            <input type="datetime-local" th:field="*{fechaHora}" required>
            <br>
            <label>Estado:</label>
            <select th:field="*{estado}">
                <option th:each="estado" : ${T(org.consultorio_dentalma.persistence.entityEstadoCita).values()}" th:value="${estado}" th:text="${estado}"></option>
            </select>
            <br>
            <button type="submit">Guardar Cita</button>
        </form>
</body>
</html>